* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    
    background-image: url(images/2381080.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.781);
    color: whitesmoke;
}

.page-title {
    margin-top: 4vh;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    margin: 20vh 0;
}

button {
    width: 15em;
    height: 14em;
    border-radius: 25px;  
}

button img {
    width: inherit;
    height: inherit;

    border-radius: inherit;
    border: 0.7em solid white;  
}

button:hover {
    background-color: black;
}

.verdict {
    margin-bottom: 4vh;
}

