* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.content {
    width: 70%;
    height: 100vh;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: rgb(22, 22, 22);
    color: black;
}

.screen {
    margin-top: 5vh;
    width: 90%;
    height: 75%;
    background-color: aliceblue;

    display: flex;
    justify-content: space-around;
}

.game-objects {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player, .enemy {
    width: 5em;
    height: 5em;
    border-radius: 100%;

    margin: 2em;
}

.player {
    background-color: green;
}

.enemy {
    background-color: red;
    align-self: flex-end;
}

.player-health {
    align-self: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    margin-bottom: 5vh;
}

button {
    width: 15em;
    height: 4em;
    border-radius: 25px;  
}

button img {
    width: inherit;
    height: inherit;

    border-radius: inherit;
    border: 0.7em solid white;  
}

button:hover {
    background-color: black;
}

.verdict {
    margin-bottom: 4vh;
}

